%productItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding-bottom: 50px;
  margin-top: 25px;
  text-align: center;
  padding: 30px 0px;
  border-top: 1px solid rgb(75, 75, 75);
}

%item {
  display: flex;
  margin: 15px;
  padding: 40px;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(75, 75, 75);
  height: 430px;
  width: 430px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.7s ease-in;
}

%itemCont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  height: fit-content;
  width: 90%;
  margin-top: 26px;
}

%btns {
  width: 80px;
  border: none;
  border-radius: 20px;
  background-color: blue;
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
}
/*body*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  /*background-image: url(Back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body.active {
  overflow: hidden;
}

/*nav*/
nav {
  z-index: 8;
  height: 80px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 300px;
  margin: 30px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062),
    0 4px 25px 0 rgba(0, 0, 0, 0.075);
  animation: nav 0.8s ease-in;
}

.ham_menu {
  display: none;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
}

.ham_menu.active .burger:nth-child(1) {
  transform: rotate(-45deg) translate(-10px);
  transition: all 0.2s ease-in;
}
.ham_menu.active .burger:nth-child(2) {
  opacity: 0;
  transition: all 0.2s ease-in;
}
.ham_menu.active .burger:nth-child(3) {
  transform: rotate(45deg) translate(-9px);
  transition: all 0.2s ease-in;
}

.burger {
  display: block;
  flex-shrink: 0;
  height: 3px;
  width: 23px;
  background-color: rgb(32, 32, 32);
  margin: 2px;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}
.links {
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-size: 1em;
  font-weight: 300;
  margin-left: 80px;
}

.links:hover {
  background-image: linear-gradient(45deg, blue, rgb(204, 3, 37), yellow);
  color: transparent;
  background-clip: text;
}

img {
  height: 22px;
  object-fit: contain;
}
.nav_overlay {
  display: none;
}
.nav-items {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo p {
  margin-left: 20px;
  font-size: 1.5rem;
  border-left: 3px solid black;
  padding-left: 20px;
}

/*main*/
main {
  z-index: 1;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 80px;
  min-height: 80vh;
  min-height: 1000px;
}

/*intro*/
.intro {
  height: 105vh;
  width: 100%;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.938);
  display: flex;
  background-image: url(pexels-xexusdesigner-777001.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  top: -80px;
  left: 0;
  z-index: 7;
}

.intro_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.7;
  z-index: 7;
  background-image: url(Back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_items {
  transform: scale(100%);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin: auto auto;
  width: 75%;
  height: 300px;
  padding-top: 10px;
  border-radius: 10px;
  text-align: left;
  z-index: 10;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.slogan {
  color: rgb(233, 233, 233);
  margin-top: 20px;
  font-size: 1.1em;
  margin-left: 0px;
}

.intro_things {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 20px;
  text-align: center;
  justify-content: flex-start;
}
.click_me {
  height: 70px;
  width: 170px;
  position: absolute;
  background-color: whitesmoke;
  border-radius: 50px;
  z-index: 10;
  left: 10%;
  bottom: 100px;
  left: 50%;
  font-size: 1.1em;
  border: none;
  transform: translateX(-50%);
}
.com {
  color: rgb(255, 255, 255);
  margin-top: 40px;
  font-size: 1.5em;
  margin-left: 0px;
  text-align: left;
}

.com:hover {
  /*background-image: linear-gradient(45deg, blue, rgb(204, 3, 37), yellow);
    color: transparent;
    background-clip: text;*/
}
.intro img {
  height: 100px;
  object-fit: scale-down;
}

.intro_items.active {
  animation: tex 2s;
}

/*animations*/

@keyframes nav {
  from {
    top: -1000px;
  }
  to {
    top: 0;
  }
}
@keyframes tex {
  0% {
    left: 0px;
  }
  30% {
    left: -1000px;
    opacity: 0;
  }
  60% {
    left: 1000px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

.web_info {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 80%;
  position: relative;
  border-radius: 20px;
  background-image: url(laptwo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.068);
  z-index: 4;
  overflow: hidden;
  align-items: center;
  padding: 20px;
  justify-content: center;
  overflow: hidden;
}

.info_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: black;
  z-index: 5;
  opacity: 0.1;
  backdrop-filter: blur(20px);
}

.info_heading {
  width: 80%;
  z-index: 3;
  margin: 0px auto;
  margin-top: 20px;
  text-align: center;
  color: rgb(41, 41, 41);
  font-size: 1.7em;
  padding-top: 20px;
  border-top: 1px solid rgb(75, 75, 75);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.slide {
  display: flex;
  position: relative;
  width: fit-content;
  animation: slide 15s linear infinite;
}
.service {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.692);
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.service:hover > .slide {
  animation-play-state: paused;
}
.service_items {
  z-index: 8;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  height: 40px;
  min-width: 80px;
  width: 150px;
  margin: 0px 0px;
  font-size: 1.2em;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
/*.service_items:nth-child(){
  border: none;
}*/
.info_display_items {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.display_design_image {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  z-index: 6;
}

.display_design_image img {
  height: 150px;
}

/*phone products*/
.product-items {
  @extend %productItems;
  margin-bottom: 20px;
}

.product-items h2 {
  font-size: 1.1em;
  padding: 15px;
  border-radius: 10px;
  color: rgb(27, 27, 27);
  margin-left: auto;
  margin-right: auto;
}

/*filter*/
.product {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  align-items: center;
}

.product select {
  border: 1px solid black;
  margin-left: 20px;
  height: 25px;
  border-radius: 5px;
}

#category {
  height: 30px;
  background-color: rgba(255, 255, 255, 0);

  border-radius: 5px;
  width: 100px;
}

/*items in products*/
.item {
  @extend %item;
}

.item:hover {
  transform: scale(103%);
  border-radius: 50px;
  transition: all 0.7s ease-in;
}

.selected {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062),
    0 4px 25px 0 rgba(0, 0, 0, 0.075);
  transform: translate(-50%, -50%);
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 8px 16px;
  width: 100%;
}

.details p {
  margin-bottom: 5px;
}

.details button {
  @extend %btns;
}

.item_title {
  font-size: 0.8em;
  color: rgb(58, 58, 58);
  font-weight: 600;
}

.item_price {
  padding-top: 5px;
  font-weight: 700;
  color: rgb(37, 37, 37);
}

.release-date {
  font-size: 0.8em;
  margin: 8px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062),
    0 4px 25px 0 rgba(0, 0, 0, 0.075);
}

.item_cont {
  @extend %itemCont;
}

#demo_cont {
  display: none;
}
.item img {
  height: 170px;
  object-fit: cover;
}

/*Products-laptops*/

.products_laptops {
  @extend %productItems;

  position: relative;
}

.products_laptops_cont {
  @extend %itemCont;
}

.products_heading {
  display: flex;
}
.products_heading select {
  border: 1px solid black;
  margin-left: 20px;
  height: 25px;
  border-radius: 5px;
}
.laptop_item {
  @extend %item;
}

.laptop_image img {
  height: 170px;
  object-fit: cover;
}

.laptop_name {
  margin: 10px;
}

.laptop_release_date {
  font-size: 0.8em;
  color: rgb(58, 58, 58);
  font-weight: 600;
  margin-bottom: 10px;
}

.laptop_view {
}

.laptop_device_information {
  display: none;
}

.laptop_btns button {
  @extend %btns;
}
/*display device information*/

.device {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 30;
  top: -1000px;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.device.active {
  display: flex;
  opacity: 1;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.cancel {
  position: absolute;
  top: 0px;
  cursor: pointer;
  right: 0;
  font-weight: 300;
  color: blue;
}

/* main display container*/
.device_view {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow-y: scroll;
  height: 600px;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}

.device-information {
  display: none;
}

/*for scroll*/
.device_view::-webkit-scrollbar-thumb {
  background-color: rgb(185, 185, 185);
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  padding-top: 10px;
}

.device_view::-webkit-scrollbar {
  width: 16px;
}

.device.active {
  left: 0;
  transition: all 0.5s ease-in;
}
/*info containers*/
.display_information {
  font-size: 0.8em;
  margin-top: 20px;
  width: 80%;
  text-align: left;
}

.display_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  min-width: 130px;
  width: fit-content;
  border-left: 2px solid black;
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: 20px;
  top: 0px;
}

.display_image {
  height: 130px;
  object-fit: fill;
}
.image {
  height: 190px;
  width: 220px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

/*top display*/
.display_top {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
}

/*footer*/
footer {
  position: absolute;
  bottom: auto;
  background-color: rgb(24, 24, 24);
  min-height: 300px;
  height: fit-content;
  width: 100%;
  color: white;
  padding: 50px 10%;
  margin-top: 200px;
  background-color: rgba(17, 17, 17, 0.938);
}

footer p {
  border-bottom: 2px solid white;
  font-size: 0.8em;
  padding: 20px 0px;
}
/*small tab scree*/

@media screen and (width <= 1100px) {
  nav {
    height: 70px;
  }
  .intro_items {
    transform: scale(95%);
    padding: 0 40%;
  }
  .item {
    width: 350px;
    height: 350px;
  }
  .image img {
    height: 140px;
  }
  .laptop_item {
    width: 350px;
    height: 350px;
  }

  .laptop_image img {
    height: 140px;
  }

  .display_design_image:nth-child(2) {
    display: none;
  }

  .display_design_image {
    width: 350px;
    height: 350px;
  }
  .service_items {
    height: 30px;
    font-size: 0.8em;
    margin: 0;
  }
  .web_info {
    height: 350px;
    border-radius: 10px;
  }
}

/*smaller tab*/
@media screen and (width <= 900px) {
  .item {
    width: 85%;
    height: 430px;
  }
  .laptop_item {
    width: 85%;
    height: 430px;
  }
}
/*phonescreen*/
@media screen and (width <= 700px) {
  nav {
    width: 90%;
    height: 60px;
    margin: 20px auto;
  }

  .click_me {
    bottom: 60px;
    width: 100px;
    border: none;
    font-size: 1em;
    height: 50px;
  }
  .ham_menu {
    display: flex;
    flex-direction: column;
    z-index: 9;
    cursor: pointer;
  }

  .nav_total_menu {
    display: block;
    height: 100vh;
    width: 115%;
    position: absolute;
    top: -20px;
    opacity: 0;
    right: -120%;
    transition: all 0.5s ease;
  }

  .nav_menu_overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
  }
  .nav-items {
    position: absolute;
    padding-top: 80px;
    display: grid;
    z-index: 7;
    justify-content: center;
    align-items: center;
    grid-template-rows: 80px 80px 80px;
    height: 110vh;
    top: 0;
    right: 0;
    background-color: white;
    width: 60%;
    opacity: 1;
    text-align: center;
  }

  .links {
    margin: 0;
  }
  .intro {
    height: 70vh;
    margin-bottom: 0px;
  }

  .intro_items {
    padding: 0 50%;
  }
  .nav_total_menu.open {
    display: block;
    opacity: 1;
    top: -20px;
    right: -6%;
    transition: all 0.5s ease-in;
  }

  .intro_items {
    transform: scale(70%);
    margin: 0;
  }

  .web_info {
    border: none;
    width: 80%;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 250px;

    justify-content: center;
    align-items: center;
  }

  .info_heading {
    font-size: 1em;
    margin-top: 0px;
    color: black;
  }
  .service {
    justify-content: center;
    border-radius: 5px;
    width: fit-content;
  }

  .service_items {
    font-size: 0.7em;
    width: 70px;
    height: 20px;
    margin: 0px;
  }

  .product-items {
    width: 100%;
  }
  .item_cont {
    width: 100%;
  }
  .item {
    width: 80%;
  }
  .products_laptops_cont {
    width: 100%;
  }

  .laptop_item {
    width: 80%;
  }
  .device_view {
    width: 80%;
  }
  footer {
    margin-top: 90px;
  }
}
